[color]
	ui = true
[commit]
	template = ~/.st-commit-msg
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
	autocrlf = false
	ignorecase = false
	quotepath = false
	safecrlf = true
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
	templatedir = ~/.git-templates/git-secrets
